In [1]:
import findspark
findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Iteration4').getOrCreate()

In [2]:
# Reading the datasets
dataset_one = spark.read.csv('./student-math-dataset1.csv', header=True, inferSchema=True)
dataset_two = spark.read.csv('./student-math-dataset2.csv', header=True, inferSchema=True)

In [3]:
# 2.2 Describe the data
print("Dataset one structure: " + str(dataset_one.count()) + " rows, and " + str(len(dataset_one.columns)) + " columns")
print("Dataset two structure: " + str(dataset_two.count()) + " rows, and " + str(len(dataset_two.columns)) + " columns")
print("How many students inside the dataset: " + str(dataset_one.count()))

Dataset one structure: 395 rows, and 31 columns
Dataset two structure: 395 rows, and 4 columns
How many students inside the dataset: 395

In [4]:
print("Data type inside the dataset one")
dataset_one.dtypes

Data type inside the dataset one

[('id', 'int'),
 ('school', 'string'),
 ('sex', 'string'),
 ('age', 'int'),
 ('address', 'string'),
 ('famsize', 'string'),
 ('Pstatus', 'string'),
 ('Medu', 'int'),
 ('Fedu', 'int'),
 ('Mjob', 'string'),
 ('Fjob', 'string'),
 ('reason', 'string'),
 ('guardian', 'string'),
 ('traveltime', 'int'),
 ('studytime', 'int'),
 ('failures', 'int'),
 ('schoolsup', 'string'),
 ('famsup', 'string'),
 ('paid', 'string'),
 ('activities', 'string'),
 ('nursery', 'string'),
 ('higher', 'string'),
 ('internet', 'string'),
 ('romantic', 'string'),
 ('famrel', 'int'),
 ('freetime', 'double'),
 ('goout', 'int'),
 ('Dalc', 'double'),
 ('Walc', 'double'),
 ('health', 'double'),
 ('absences', 'int')]

In [5]:
print("Data type inside the dataset two")
dataset_two.dtypes

Data type inside the dataset two

[('id', 'int'), ('G1', 'int'), ('G2', 'int'), ('G3', 'int')]

In [10]:
# 2.3 Explore the data
print("Dataset one information: ")
dataset_one.describe().show()

Dataset one information:
+-------+------------------+------+----+------------------+-------+-------+-------+------------------+------------------+-------+-------+----------+--------+------------------+------------------+------------------+---------+------+----+----------+-------+------+--------+--------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+
|summary|                id|school| sex|               age|address|famsize|Pstatus|              Medu|              Fedu|   Mjob|   Fjob|    reason|guardian|        traveltime|         studytime|          failures|schoolsup|famsup|paid|activities|nursery|higher|internet|romantic|            famrel|          freetime|             goout|              Dalc|              Walc|            health|         absences|
+-------+------------------+------+----+------------------+-------+-------+-------+------------------+------------------+-------+-------+----------+--------+------------------+------------------+------------------+---------+------+----+----------+-------+------+--------+--------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+
|  count|               395|   395| 395|               395|    395|    395|    395|               395|               395|    395|    395|       395|     395|               395|               395|               395|      395|   395| 395|       395|    395|   395|     395|     395|               395|               393|               395|               392|               393|               393|              395|
|   mean|             198.0|  null|null|16.696202531645568|   null|   null|   null| 2.749367088607595|2.5215189873417723|   null|   null|      null|    null|1.4481012658227848|2.0354430379746837|0.3341772151898734|     null|  null|null|      null|   null|  null|    null|    null|3.9443037974683546| 3.236641221374046| 3.108860759493671|1.4744897959183674| 2.287531806615776| 3.549618320610687|5.708860759493671|
| stddev|114.17092449481173|  null|null|1.2760427246056265|   null|   null|   null|1.0947351414285371|1.0882005458269433|   null|   null|      null|    null|0.6975047549086822|0.8392403464185556|0.7436509736062509|     null|  null|null|      null|   null|  null|    null|    null|0.8966586076885046|0.9987139260837443|1.1132781740183422|0.8755632428459843|1.2882008750662577|1.3917417170619113|8.003095687108182|
|    min|                 1|    GP|   F|                15|      R|    GT3|      A|                 0|                 0|at_home|at_home|    course|  father|                 1|                 1|                 0|       no|    no|  no|        no|     no|    no|      no|      no|                 1|               1.0|                 1|               1.0|               1.0|               1.0|                0|
|    max|               395|    MS|   M|                22|      U|    LE3|      T|                 4|                 4|teacher|teacher|reputation|   other|                 4|                 4|                 3|      yes|   yes| yes|       yes|    yes|   yes|     yes|     yes|                 5|               5.0|                 5|               5.0|               5.0|               5.0|               75|
+-------+------------------+------+----+------------------+-------+-------+-------+------------------+------------------+-------+-------+----------+--------+------------------+------------------+------------------+---------+------+----+----------+-------+------+--------+--------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+

In [11]:
dataset_two.describe().show()

+-------+------------------+------------------+------------------+------------------+
|summary|                id|                G1|                G2|                G3|
+-------+------------------+------------------+------------------+------------------+
|  count|               395|               395|               395|               395|
|   mean|             198.0| 10.90886075949367|10.713924050632912|10.415189873417722|
| stddev|114.17092449481173|3.3191946715076686|3.7615046595560306|4.5814426109978434|
|    min|                 1|                 3|                 0|                 0|
|    max|               395|                19|                19|                20|
+-------+------------------+------------------+------------------+------------------+

In [12]:
# same as above
# dataset_one.select(dataset_one.columns).describe().show()
# dataset_two.select('G1', 'G2', 'G3').describe().show()

+-------+------------------+------------------+------------------+
|summary|                G1|                G2|                G3|
+-------+------------------+------------------+------------------+
|  count|               395|               395|               395|
|   mean| 10.90886075949367|10.713924050632912|10.415189873417722|
| stddev|3.3191946715076686|3.7615046595560306|4.5814426109978434|
|    min|                 3|                 0|                 0|
|    max|                19|                19|                20|
+-------+------------------+------------------+------------------+

In [14]:
# start ploting

In [ ]:
# use it to check null vlaue
dataset_one.printSchema()
dataset_two.printSchema()